<div id="video-container"><video id="video" autoplay></video></div>

<div id="canvas-container" height="100%" width="640px"></div>
<div id="final-image-container" height="100%" width="640px"></div>
<div id="final-image-to-send-container" height="100%" width="640px"></div>
<div id="timer"></div>
<div id="flash" height="100%" width="100%"></div>
<img id='zipwhip-vertical' src='/images/zipwhip-vertical.png' />
<input name="phone" id="phone" value="{{phone}}" type="hidden" />

<!--<script src="/javascripts/print.js"></script>-->
<!--<script src="/javascripts/photo-filters.js"></script>-->
<script src="/javascripts/booth.js"></script>

<script>
// Lauer Halloween Party 2017 background
// $('body').css('background-image', 'url(/images/LAUER-background-EMPTY.png)');
</script>