<link rel='stylesheet' href='/stylesheets/dialpad.css' />
<div id="main-wrapper">

<button onclick="document.location = '/';" id="start-over-button" style="cursor: pointer; float: left;margin-top: -100px;border: 1px solid gray;border-radius: 10px;height: 75px;width: 250px;vertical-align: middle;color: gray;font-size: 38px;background-color: #FFFFFF;">Start Over</button>

<div id="dialpad-wrapper">
<div class="dialPad compact">
<div class="number"></div>
<div class="dials">
<ol>
<li class="digits">
<p><strong>1</strong></p>
</li>
<li class="digits">
<p><strong>2</strong><sup>abc</sup></p>
</li>
<li class="digits">
<p><strong>3</strong><sup>def</sup></p>
</li>
<li class="digits">
<p><strong>4</strong><sup>ghi</sup></p>
</li>
<li class="digits">
<p><strong>5</strong><sup>jkl</sup></p>
</li>
<li class="digits">
<p><strong>6</strong><sup>mno</sup></p>
</li>
<li class="digits">
<p><strong>7</strong><sup>pqrs</sup></p>
</li>
<li class="digits">
<p><strong>8</strong><sup>tuv</sup></p>
</li>
<li class="digits">
<p><strong>9</strong><sup>wxyz</sup></p>
</li>
<li class="digits">
<p><strong>*</strong></p>
</li>
<li class="digits">
<p><strong>0</strong><sup>+</sup></p>
</li>
<li class="digits">
<p><strong>#</strong></p>
</li>
<li class="digits">
<p><strong><i class="icon-refresh icon-large"></i></strong> <sup>Clear</sup></p>
</li>
<li class="digits">
<p><strong><i class="icon-remove-sign icon-large"></i></strong> <sup>Backspace</sup></p>
</li>
<li class="digits pad-action">
<p><strong><i class="icon-phone icon-large"></i></strong> <sup>Done</sup></p>
</li>
</ol>
</div>
</div>
</div>


</div>

<script src="/javascripts/dialpad.js"></script>

<script>
// Lauer Halloween Party 2017 background
$('body').css('background-image', 'url(/images/LAUER-background-PHONE.png)');
</script>